<div class="panel">
	<div class="row">
		<div class="large-8 columns">
		<h5>Basket</h5>
		</div>
		<div class="large-4 right columns">
			<i class="fi-shopping-cart" style="font-size: 44px;"></i>
		</div>
	</div>
	
	<div class="row">
		<div class="panel" ng-show="!selectedCustomer">
        <a class="button expand " href="#/customer">Select Customer</a>
    </div>
                
     <div class="panel" ng-show="selectedCustomer">
       <i class="fi-male" style="font-size: 25px; margin: 2px; float: right;"></i>
       <label >Name</label>
		   <p>{{selectedCustomer.FirstName}} {{selectedCustomer.LastName}}</p>
		   <hr />
		   <i class="fi-home" style="font-size: 25px; margin: 2px; float: right;"></i>
		   <label >Company</label>
		   <p>{{selectedCustomer.Company__c}}</p>
		   <hr />
		   <label >Id</label>
		   <p>{{selectedCustomer.Id}} {{selectedCustomer._soupEntryId}}</p>
   
         
     </div>
                
	
	
	<ul class="side-nav">
		<li  ng-repeat="sel in selected" style="line-height:1; padding:0; margin-top: 5px;">
			<div class="row collapse">
			  <div class="small-9 columns">
			 		<a ng-click="rmSelected($index);" style="padding: 0px;"><div ng-bind="sel.Name"/></a>
                    <div ng-repeat="(n, v) in sel.config" ng-bind="v" class="label success round" style="margin: 2px;"/>
			 	</div>
			 	<div class="small-2 columns">
                    <i class="fi-pound" style="font-size: 18px; margin: 2px;"></i><span ng-bind="sel.configuredprice"/>
			    </div>
		  </div>
		</li>

        <li  style="line-height:1; padding:0; margin-top: 5px;">
            <div class="row collapse">
                <div class="small-9 columns">
                    Total
                </div>
                <div class="small-2 columns">
                    <i class="fi-pound" style="font-size: 18px; margin: 2px;"></i><span ng-bind="selected | sumbasket"/>
                </div>
            </div>
        </li>
        <li  style="line-height:1; padding:0; margin-top: 5px;">
        	<a class="button expand " ng-href="#/search">Add product</a>
        </li>

	</ul>
	<div class="small-12 columns" ng-show="saveErrorStr">
   		<div class="alert-box alert"  ng-bind="saveErrorStr"/>
   </div> 
	<ul class="button-group">
		<li><button ng-show="selected.length > 0 && selectedCustomer" ng-click="insertSFDC();" >Place Order</button></li>
		<li><button ng-show="selected.length > 0 || selectedCustomer" ng-click="resetBasket();">Reset</button></li>
	</ul>
</div>