
<div class="row">
	<div class="column large-4 small-6">
		<ul class="pricing-table">
		  <li class="title">iPhone 5C</li>
		  <li class="price">£99.99</li>
		  <li class="description">+ Unlimied Date and Text on our 4G network</li>
		  <li class="bullet-item">+ 12 months insurance/li>
		  <li class="bullet-item">+ World Services</li>
		  <li class="bullet-item">FREE spotify subscription</li>
		  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
	<div class="column large-4 small-6">
		<ul class="pricing-table">
		  <li class="title">Android Motorola X</li>
		  <li class="price">$99.99</li>
		  <li class="description">Best bundle on the market today</li>
		  <li class="bullet-item">+ejrgoejg</li>
		  <li class="bullet-item">5GB Storage</li>
		  <li class="bullet-item">20 Users</li>
		  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
		<div class="column large-4 small-6">
		<ul class="pricing-table">
		  <li class="title">Standard</li>
		  <li class="price">$99.99</li>
		  <li class="description">An awesome description</li>
		  <li class="bullet-item">1 Database</li>
		  <li class="bullet-item">5GB Storage</li>
		  <li class="bullet-item">20 Users</li>
		  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
		</ul>
	</div>
</div>